@use "../../../../scss/mixins" as mixins;

.empty-state {
  @include mixins.flex-center();
  flex-direction: column;
  text-align: center;
  padding: 20px;
  color: var(--layout-content-text);
}

.empty-state-image {
  width: 165px;
  height: 150px;
  margin-bottom: 16px;
}

.empty-state-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--layout-content-text);
}

.empty-state-message {
  font-size: 1rem;
  color: var(--layout-content-text-muted);
  margin-bottom: 16px;
}

.action-container {
  margin-top: 10px;
}
