<div class="px-3" *ngIf="customerDetailsView$ | async as customerDetailsView">
    <div class="header">
        <div class="header-title">
            <h1>{{ customerDetailsView.customer.name }}</h1>
        </div>
        <div class="header-actions">
            <div [matTooltipDisabled]="!!selectedSubscriber"
                 class="c-pointer"
                 matTooltip="Please select a subscriber to refund"
                 matTooltipPosition="below"
                 matTooltipClass="tooltip">
                <button mat-button
                        [disabled]="!selectedSubscriber"
                        (click)="openRefund(selectedSubscriber)">
                    Refund
                </button>
            </div>
            <div [matTooltipDisabled]="!!selectedSubscriber"
                 class="c-pointer"
                 matTooltip="Please select a subscriber to present his QR code"
                 matTooltipPosition="below"
                 matTooltipClass="tooltip">
                <button mat-button
                        [disabled]="!selectedSubscriber"
                        (click)="openShowQRCode(selectedSubscriber)">
                    Show QR code
                </button>
            </div>
<!--            <button mat-button>Unblock</button>-->
<!--            <button mat-button color="warn">Block</button>-->
<!--            <button mat-icon-button>-->
<!--                <mat-icon>more_vert</mat-icon>-->
<!--            </button>-->
        </div>
    </div>

    <div class="tabs-container">
        <mat-tab-group class="tabs"
                       mat-stretch-tabs="false"
                       mat-align-tabs="start"
                       (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Overview">
                <div class="content">
                    <div class="left-panel">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Location</mat-card-title>
                            </mat-card-header>
                            <mat-card-content *ngIf="simLocations">
                                <p><strong>IMSI:</strong> {{ simLocations[0]?.imsi || 'N/A' }}</p>
                                <p><strong>State:</strong> {{ simLocations[0]?.state || 'N/A' }}</p>
                                <p><strong>Country:</strong> {{ simLocations[0]?.country || 'N/A' }}</p>
                                <p><strong>Operator:</strong> {{ simLocations[0]?.operator || 'N/A' }}</p>
                            </mat-card-content>
                        </mat-card>

                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Other Details</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p><strong>Currency Code: </strong>{{ currency.toUpperCase() }}</p>
                                <p><strong>Status: </strong> {{ customerDetailsView.customer.status }}</p>
                                <p><strong>Language: </strong>EN</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="right-panel">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Financial Summary</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p><strong>Total Spent:</strong> {{ totalSpent }} {{ currency.toUpperCase() }}</p>
                                <p><strong>Total Used Data:</strong> {{ totalUsedGB }} GB</p>
                            </mat-card-content>
                        </mat-card>

                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Activity Timeline</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <app-empty-state
                                        *ngIf="!timelineEvents || timelineEvents.length === 0"
                                        [title]="'No activities'"
                                        [message]="'The customer hasn’t performed any activities yet.'"
                                        [imageSrc]="'assets/img/empty-states/no-activities.svg'">
                                </app-empty-state>
                                <app-timeline [events]="timelineEvents"></app-timeline>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>

            <ng-container *ngFor="let subscriber of customerDetailsView.subscribers; trackBy: trackBySubscriber">
                <mat-tab label="{{subscriber.name}}">
                    <div class="tab-content">
                        <app-subscriber-details [subscriber]="subscriber"></app-subscriber-details>
                    </div>
                </mat-tab>
            </ng-container>

        </mat-tab-group>
    </div>
</div>
