<app-header [config]="headerConfig"
            [tableConfig$]="tableConfig$"
            (onAddAction)="createCustomer()"
            (columnSelectionChange)="onColumnSelectionChanged($event)"
            (filteredData)="applyFilter($event)">
</app-header>

<generic-table [config$]="tableConfig$"
               [menu]="menuTemplate"
               [data$]="dataList$"></generic-table>

<ng-template #menuTemplate let-item>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editCustomer(item)">Edit</button>
    </mat-menu>
</ng-template>
