<app-header class="os-header-sticky"
            [formGroup]="filterForm"
            [tableConfig$]="tableConfig$"
            (onAddAction)="createCustomer()"
            (columnSelectionChange)="onColumnSelectionChanged($event)">
    <ng-container header-custom-inputs>
        <input cFormControl formControlName="name" [type]="'text'" placeholder="{{ 'customer.name' | translate }}">
        <input cFormControl formControlName="iccid" [type]="'text'" placeholder="{{ 'customer.iccid' | translate }}">
        <input cFormControl formControlName="externalId" [type]="'text'" placeholder="{{ 'customer.externalId' | translate }}">
        <input cFormControl formControlName="externalTransactionId" [type]="'text'" placeholder="{{ 'customer.externalTransactionId' | translate }}">
        <button cButton
                color="secondary"
                [disabled]="filterForm.pristine"
                (click)="resetForm()">
            <svg cIcon name="cilReload"></svg>
        </button>
    </ng-container>
</app-header>
<generic-table [config$]="tableConfig$"
               [menu]="menuTemplate"
               [data$]="dataList$"
               [isRowClickable]="true"
               (onRowClickEvent)="openCustomerDetails($event)"
               (pageChange)="onPageChange($event)"></generic-table>

<ng-template #menuTemplate let-item>
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button *ngIf="item.type.toUpperCase() === CustomerType.Private.toUpperCase()"
                mat-menu-item
                (click)="openCustomerDetails(item)">{{ 'customer.details' | translate }}
        </button>
    </mat-menu>
</ng-template>
