<!-- Account Selector (только для админов) -->
<app-account-selector *ngIf="isAdmin"
                      [helperText]="'COMMON.select_account_hint_message'"
                      (accountSelected)="onAccountSelected($event)">
</app-account-selector>

<!-- Header with filters -->
<app-header class="os-header-sticky"
            [formGroup]="filterForm"
            [tableConfig$]="tableConfig$"
            (columnSelectionChange)="onColumnSelectionChanged($event)">
    <ng-container header-custom-inputs>
        <input cFormControl
               formControlName="iccid"
               [type]="'text'"
               placeholder="{{ 'email_logs.iccid_placeholder' | translate }}">
        <button cButton
                color="secondary"
                [disabled]="filterForm.pristine"
                (click)="resetForm()">
            <svg cIcon name="cilReload"></svg>
        </button>
    </ng-container>
</app-header>

<!-- Generic Table -->
<generic-table
        [config$]="tableConfig$"
        [data$]="dataList$"
        (pageChange)="onPageChange($event)">
</generic-table>
