<ng-container *ngIf="subscriberEventsView$ | async as subscriberEvents; else loading">
    <app-empty-state
            *ngIf="!subscriberEvents || subscriberEvents.length === 0"
            [title]="'No any events yet'"
            [imageSrc]="'assets/img/empty-states/file-not-found.svg'">
    </app-empty-state>

    <table *ngIf="subscriberEvents.length > 0"
           [dataSource]="subscriberEvents"
           mat-table
           class="mat-elevation-z0">
        <ng-container matColumnDef="eventTimestamp">
            <th mat-header-cell *matHeaderCellDef> Time Stamp</th>
            <td mat-cell *matCellDef="let element">
                {{ element.eventTimestamp | date: 'dd/MM/yyyy HH:mm:ss' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="notificationPoint">
            <th mat-header-cell *matHeaderCellDef> Notification Point</th>
            <td mat-cell *matCellDef="let element"> {{ element.notificationPoint }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.status)">
                {{ element.status }}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>

<ng-template #loading>
    <p>Loading events...</p>
</ng-template>
