<ng-template #eventTimestampTpl let-row>
  {{ row.eventTimestamp | date: 'dd/MM/yyyy HH:mm:ss' }}
</ng-template>

<ng-template #statusTpl let-row>
  <span [ngClass]="getStatusClass(row.status)">
    {{ row.status }}
  </span>
</ng-template>

@if (subscriberEventsView$ | async; as subscriberEvents) {

@if (!subscriberEvents || subscriberEvents.length === 0) {
<app-empty-state [title]="'eventStatus.noEventsFound' | translate"
  [imageSrc]="'assets/img/empty-states/file-not-found.svg'">
</app-empty-state>
}

@if (subscriberEvents.length > 0) {
<generic-table [config$]="eventStatusTableService.tableConfigSubject" [data$]="subscriberEventsView$">
</generic-table>
}

} @else {
<p>{{ 'common.loading' | translate }}</p>
}