table.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none;
}
table {
  width: 100%; /* Таблица занимает ширину контейнера */
  max-width: 100%; /* Ограничение максимальной ширины */
  table-layout: auto; /* Динамическое распределение ширины столбцов */
  border-collapse: collapse; /* Устраняет дополнительные промежутки */
}

th, td {
  padding: 8px; /* Устанавливает отступ внутри ячеек */
  text-align: left;
  white-space: nowrap; /* Предотвращает перенос текста */
}
