<app-header class="os-header-sticky"
            [formGroup]="filterForm"
            [tableConfig$]="tableConfig$"
            (onAddAction)="onCreateNew()">
    <ng-container header-custom-inputs>
        <input cFormControl formControlName="countryId" [type]="'number'" placeholder="Country ID">
        <input cFormControl formControlName="regionId" [type]="'number'" placeholder="Region ID">
        <button cButton
                color="secondary"
                [disabled]="filterForm.pristine"
                (click)="resetForm()">
            <svg cIcon name="cilReload"></svg>
        </button>
    </ng-container>
</app-header>

<generic-table [config$]="tableConfig$"
               [menu]="menuTemplate"
               [data$]="providerProducts$"
               [isRowClickable]="true"
               (onRowClickEvent)="onViewDetails($event)"
               (pageChange)="onPageChange($event)">
</generic-table>

<ng-template #menuTemplate let-item>
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onViewDetails(item)">
            <mat-icon>visibility</mat-icon>
            <span>View Details</span>
        </button>
        <button mat-menu-item (click)="onToggleStatus(item)">
            <mat-icon>{{ item.active ? 'toggle_off' : 'toggle_on' }}</mat-icon>
            <span>{{ item.active ? 'Deactivate' : 'Activate' }}</span>
        </button>
    </mat-menu>
</ng-template>


<!-- Details Panel -->
<app-generic-right-panel
  *ngIf="showDetailsPanel && selectedProviderProductDetails"
  title="Provider Product Details"
  [isOpen]="showDetailsPanel"
  [actions]="detailsPanelActions"
  [resizable]="true"
  [defaultWidth]="600"
  [maxWidth]="900"
  (close)="onPanelClose()">

  <div panel-content>
    <app-provider-product-details [providerProduct]="selectedProviderProductDetails"></app-provider-product-details>
  </div>

</app-generic-right-panel>
