<ng-template #statusTpl let-item="context">
  <span [ngClass]="getStatusClass(item?.status ?? '')">
    {{ item?.status ?? '' }}
  </span>
</ng-template>

<ng-template #priceTpl let-item="context">
  {{ (item?.price?.price ?? '') + ' ' + (item?.price?.currency ?? '') }}
</ng-template>

<ng-template #totalBalanceTpl let-item="context">
  {{ (item?.usage?.balance?.[0]?.total ?? '') + getUnitType(item?.usage) }}
</ng-template>

<ng-template #remainingBalanceTpl let-item="context">
  {{ (item?.usage?.balance?.[0]?.remaining ?? '') + getUnitType(item?.usage) }}
</ng-template>

<generic-table [config$]="config$" [data$]="data$"></generic-table>