
<ng-template #statusTpl let-item>
  <span [ngClass]="getStatusClass(item?.status ?? '')">
    {{ item?.status ?? '' }}
  </span>
</ng-template>

<ng-template #priceTpl let-item>
  {{ (item?.price?.price ?? '') + ' ' + (item?.price?.currency ?? '') }}
</ng-template>

<ng-template #totalBalanceTpl let-item>
  {{ (item?.usage?.balance?.[0]?.total ?? '') + getUnitType(item?.usage) }}
</ng-template>

<ng-template #remainingBalanceTpl let-item>
  {{ (item?.usage?.balance?.[0]?.remaining ?? '') + getUnitType(item?.usage) }}
</ng-template>

@if (purchasedProductsView$ | async; as purchasedProducts) {

@if (!purchasedProducts || purchasedProducts.length === 0) {
<app-empty-state [title]="'purchasedProducts.noPurchasedProductsFound' | translate"
  [message]="'purchasedProducts.noPurchasesMessage' | translate"
  [imageSrc]="'assets/img/empty-states/file-not-found.svg'">
</app-empty-state>
}

@if (purchasedProducts.length > 0) {
<generic-table [config$]="config$" [data$]="data$">
</generic-table>
}

} @else {
<p>{{ 'common.loading' | translate }}</p>
}