<h2 mat-dialog-title class="dialog-header">{{ 'add-subscriber-product.title' | translate }}</h2>
<mat-dialog-content class="mat-typography dialog-content">
  @if (!loading) {
    <app-form-generator [config]="formConfig"
    (formChanges)="handleFormChanges($event)"></app-form-generator>
    @if (subscriberProducts.length === 0) {
      <mat-hint
        class="hint mb-1">
        <mat-icon fontIcon="info_outline"></mat-icon>
        {{ 'add-subscriber-product.noProducts' | translate }}
      </mat-hint>
    }
  }
  @if (loading) {
    <app-loader></app-loader>
  }
</mat-dialog-content>
<mat-dialog-actions class="dialog-footer" align="end">
  <button mat-button (click)="close()">{{ 'common.cancel' | translate }}</button>
  <button mat-button
    color="primary"
    [disabled]="!isFormValid || loading"
    (click)="submit()">{{ 'common.submit' | translate }}
  </button>
</mat-dialog-actions>
