@use "detail-section" as shared;

.company-product-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; // Отступ между всеми дочерними элементами
}

// Helper classes
.text-muted {
  color: var(--layout-content-text-muted) !important;
  font-family: monospace;
  font-size: 0.8125rem;
}

.fw-bold {
  font-weight: 600;
}

.ms-1 {
  margin-left: 0.25rem;
}

.mb-3 {
  margin-bottom: 1rem;
}
