@import "../../../scss/custom";

.Gigabyte-badge,
.Byte-badge,
.Kilobyte-badge,
.Megabyte-badge {
  background: #306fe1;
}

.Sms-badge {
  background: #e18030;
}

.Voice-badge, .Min-badge {
  background: #867d21;
}

.badge-display {
  display: flex;
  justify-content: space-between;
}
