<app-header [config]="headerConfig"
            [tableConfig$]="tableConfig$"
            (columnSelectionChange)="onColumnSelectionChanged($event)"
            (filteredData)="applyFilter($event)">
</app-header>
<generic-table [config$]="tableConfig$"
               (toggleAction)="edit($event)"
               [data$]="dataList$"></generic-table>

<ng-template #usageTemplate let-data='context'>
    <td>
        <div class="badge-display">
            <c-badge *ngFor="let usage of data.usages"
                     [class]="usage?.unitType + '-badge'"
                     class="me-1"
                     shape="rounded-pill">{{ usage?.total }} {{ usage?.unitType }}
            </c-badge>
        </div>
    </td>
</ng-template>
