<c-card>
    <table cTable [responsive]="true">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">name</th>
            <th scope="col">provider</th>
            <th scope="col" class="text-center">usage</th>
            <th scope="col">effectiveDate</th>
            <th scope="col">price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productsData">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.providerName}}</td>
            <td>
                <div class="badge-display">
                    <c-badge *ngFor="let usage of product.usages"
                             [class]="usage?.unitType + '-badge'"
                             shape="rounded-pill">{{usage?.total}} {{usage?.unitType}}</c-badge>
                </div>
            </td>
            <td>{{product.effectiveDate}}</td>
            <td>{{product.price}}</td>
            <td class="edit-btn" (click)="edit(product)">
                <svg [cIcon]="cilPencil" size="m" title="List Icon"></svg>
            </td>
        </tr>
        </tbody>
    </table>
</c-card>
<app-edit-product [visible]="visible"
                  [data]="selectedData"
                  (onClose)="setModalVisibility($event)"></app-edit-product>
