@import "src/scss/variables";

$indicator-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary-color-contrast}'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, --os-color-light);
    --scrollbar-track-color: var(--cui-body-color, $color-dark-contrast);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }

  .sidebar-bg {
    background: $white-87-opacity;
    box-shadow: 0 0 12px $color-medium-shade;
    border-right: 3px solid $primary-color-border;
  }

  .sidebar-toggler {
    background-color: $primary-color-border;
  }

  .sidebar-brand {
    background: none;
  }

  ::ng-deep .sidebar-nav {
    --cui-sidebar-nav-group-indicator: #{$indicator-svg};
    --cui-sidebar-nav-group-indicator-hover: #{$indicator-svg};

    .nav-link {
      color: $primary-color-contrast;
      display: flex;
      align-items: center;

      &:hover {
        background: $color-light-shade;
      }

      &.active {
        color: $primary-shade;

        .nav-icon {
          color: $primary-shade;
        }
      }

      .nav-icon {
        color: $primary-color-contrast;
      }
    }

    .nav-group {
      .nav-group-toggle {
        color: var(--os-color-primary-contrast);
      }

      .nav-link {
        position: relative;

        &::after {
          color: $primary-color-contrast !important;
          border-color: $primary-color-contrast !important;
        }
      }

      .nav-link::after {
        color: $primary-color-contrast !important;
        border-color: $primary-color-contrast !important;
      }

      &.show {
        background: $white-87-opacity !important;
      }

      &.show > .nav-link::after {
        transform: rotate(180deg) !important;
      }

      .nav-group-items {
        .nav-group {
          &.show > .nav-link::after {
            border-top-color: $primary-color-contrast !important;
            transform: rotate(180deg) !important;
          }

          .nav-link {
            background: $white-87-opacity;

            &:hover {
              background: $color-light-shade;
            }
          }
        }

        > .nav-item > .nav-link,
        > .nav-group > .nav-link {
          padding-left: 3rem !important;
        }

        .nav-group > .nav-group-items > .nav-item > .nav-link {
          padding-left: 4.5rem !important;
        }
      }
    }
  }
}

// RTL-специфика
:host-context([dir="rtl"]) {
  .sidebar-bg {
    border-left: 3px solid $primary-color-border;
    border-right: none;
  }

  ::ng-deep .sidebar-nav {
    --cui-sidebar-nav-group-indicator: #{$indicator-svg} !important;
    --cui-sidebar-nav-group-indicator-hover: #{$indicator-svg} !important;

    .nav-link {
      flex-direction: row-reverse;
      justify-content: flex-start;
      text-align: right;

      .nav-icon {
        margin-left: 1rem;
        margin-right: -15px;
      }
    }

    .nav-group {
      .nav-group-toggle {
        position: relative;

        &::after {
          display: block !important;
          flex: 0 12px;
          height: 12px !important;
          content: "" !important;
          width: 12px !important;
          right: auto !important;
          left: 1rem !important;
          position: absolute !important;
        }
      }

      &.show > .nav-group-toggle::after {
        transform: translateY(-50%) rotate(180deg) !important;
      }

      > .nav-group-items {
        .nav-item > .nav-link,
        .nav-group > .nav-link {
          padding-right: 3rem !important;
          padding-left: 3rem !important;
        }

        .nav-group {
          > .nav-group-items {
            > .nav-item > .nav-link {
              padding-right: 4.5rem !important;
              padding-left: 3rem !important;
            }
          }

          &.show > .nav-group-toggle::after {
            transform: translateY(-50%) rotate(180deg) !important;
          }
        }
      }
    }
  }

  ::ng-deep .sidebar-narrow-unfoldable {
    &:not(:hover) {
      .nav-icon + c-sidebar-nav-link-content {
        display: none;
      }
    }

    &:hover .nav-icon + c-sidebar-nav-link-content {
      display: block;
    }
  }
}
