<c-sidebar #sidebar="cSidebar"
           class="d-print-none sidebar sidebar-fixed sidebar-bg sidebar-narrow-unfoldable"
           id="sidebar"
           visible>

    <ng-container *ngIf="!(brandFull$ | async); else loaded">
        <app-sidebar-skeleton [itemsCount]="8"></app-sidebar-skeleton>
    </ng-container>

    <ng-template #loaded>
        <c-sidebar-brand
                [brandFull]="(brandFull$ | async)!"
                [brandNarrow]="brandNarrow"
                routerLink=".">
        </c-sidebar-brand>

        <ng-scrollbar pointerEventsMethod="scrollbar">
            <c-sidebar-nav [navItems]="translatedNavItems"
                           dropdownMode="path"></c-sidebar-nav>
        </ng-scrollbar>
        <c-sidebar-toggler *ngIf="!sidebar.narrow"
                           toggle="unfoldable"
                           cSidebarToggle="sidebar"></c-sidebar-toggler>
    </ng-template>
</c-sidebar>

<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
    <app-default-header class="d-print-none header header-sticky bg-light border-0"
                        position="sticky"
                        sidebarId="sidebar"></app-default-header>
    <div class="body flex-grow-1">
        <c-container [breakpoint]="'xs'" class="h-auto">
            <router-outlet></router-outlet>
        </c-container>
    </div>
    <app-default-footer></app-default-footer>
</div>
