<form [formGroup]="headerForm" class="pb-1 d-flex">
    <button class="me-1" cButton color="secondary">
        <svg cIcon name="cilFilter"></svg>
    </button>
    <!-- Dynamic input/select components based on config -->
    <ng-container *ngFor="let key of formKeys">
        <input *ngIf="config[key].type === 'text'" class="me-1" [formControlName]="key"
               [placeholder]="config[key].placeholder" cFormControl type="text">
        <select *ngIf="config[key].type === 'select'" class="me-1" [formControlName]="key" cSelect>
            <option *ngFor="let option of config[key].options" [value]="option.value">
                {{ option.label }}
            </option>
        </select>
    </ng-container>
    <!-- Column picker -->
    <column-control *ngIf="tableConfig$ | async" [config$]="tableConfig$" [currentSelectedColumns]="currentSelectedColumns"
                    (columnSelectionChange)="onColumnSelectionChanged($event)"></column-control>
    <!-- Slot for additional actions -->
    <ng-content select="[header-actions]"></ng-content>
    <!-- Reset button -->
    <button class="me-1" [disabled]="headerForm.pristine" cButton color="secondary" (click)="resetForm()">
        <svg cIcon name="cilReload"></svg>
    </button>
</form>
