<!-- src/app/shared/components/header-component/header.component.html -->
<form [formGroup]="headerForm" class="pb-2 d-flex pt-2 header-form">
  @for (key of formKeys(); track key) {
    @if (config(); as cfg) {
      @if (cfg[key].type === 'text') {
        <input [formControlName]="key"
          [placeholder]="cfg[key].placeholder" cFormControl [type]="'text'">
      }
      @if (cfg[key].type === 'select') {
        <select [formControlName]="key" cSelect>
          @for (option of cfg[key].options; track option) {
            <option [value]="option.value">
              {{ option.label }}
            </option>
          }
        </select>
      }
    }
  }

  <!-- Slot for custom inputs -->
  <ng-content select="[header-custom-inputs]"></ng-content>

  @if (tableConfig$(); as tblConfig$) {
    @if (tblConfig$ | async) {
      <!-- Hidden column control for programmatic access -->
      <column-control #columnControl
        class="header-form__hidden-control"
        [config$]="tblConfig$"
        [currentSelectedColumns]="currentSelectedColumns"
        (columnSelectionChange)="onColumnSelectionChanged($event)">
      </column-control>

      <!-- Responsive actions -->
      <os-responsive-actions [actions]="headerActions()" />
    }
  }

  <!-- Slot for additional actions -->
  <ng-content select="[header-actions]"></ng-content>
</form>
