<h2 mat-dialog-title class="dialog-header">{{ 'editPaymentGateway.setupPaymentGateway' | translate }}</h2>
<mat-dialog-content class="mat-typography dialog-content">
    <ng-container *ngIf="componentConfig$ | async as componentConfig">
        <div class="pg-card">
            <div class="display-flex-space-between">
                <h1>{{ componentConfig.type }}</h1>
                <div class="display-flex-space-between" [hidden]="!this.strategyId">
                    <label class="mr-1">{{ (isActive ? 'editPaymentGateway.active' : 'editPaymentGateway.deactivated') | translate }}</label>
                    <div></div>
                    <c-form-check [switch]="true"
                                  [matTooltip]="isPrimary && isActive
                                  ? ('editPaymentGateway.primaryPaymentGatewayTooltip' | translate)
                                  : null">
                        <input cFormCheckInput
                               type="checkbox"
                               [disabled]="isPrimary && isActive"
                               [checked]="isActive"
                               (change)="updateStatus()" />
                    </c-form-check>
                </div>
            </div>

            <app-form-generator [config]="componentConfig.config"
                                (formChanges)="handleFormChanges($event)"></app-form-generator>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions class="dialog-footer" align="end">
    <button mat-button (click)="close()">{{ 'common.cancel' | translate }}</button>
    <button mat-button
            color="primary"
            [disabled]="!isFormValid"
            (click)="submit()">{{ 'common.apply' | translate }}</button>
</mat-dialog-actions>
