<h2 mat-dialog-title class="dialog-header">Setup payment gateway</h2>
<mat-dialog-content class="mat-typography dialog-content">
    <ng-container *ngIf="componentConfig$ | async as componentConfig">
        <div class="pg-card">
            <div class="display-flex-space-between">
                <h1>{{ componentConfig.type }}</h1>
                <div  class="display-flex-space-between">
                    <label class="mr-1">{{ isActive ? 'Active' : 'Deactivated' }}</label>
                    <div></div>
                    <c-form-check [switch]="true"
                                  [matTooltip]="isPrimary && isActive
                                  ? 'Primary payment gateway, cant be deactivated'
                                  : null">
                        <input cFormCheckInput
                               type="checkbox"
                               [disabled]="isPrimary && isActive"
                               [checked]="isActive"
                               (change)="updateStatus()" />
                    </c-form-check>
                </div>
            </div>

            <app-form-generator [config]="componentConfig.config"
                                (formChanges)="handleFormChanges($event)"></app-form-generator>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions class="dialog-footer" align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button
            color="primary"
            [disabled]="!isFormValid"
            (click)="submit()">Apply</button>
</mat-dialog-actions>
