<ng-container *ngIf="formConfig$ | async as formConfig">
  <div class="retail-container">
    <!-- Левая часть с превью -->
    <div class="preview-section">
      <div class="preview-header">
        <img *ngIf="formGenerator?.form?.get('faviconUrl')?.value" [src]="formGenerator?.form?.get('faviconUrl')?.value" alt="Favicon" class="favicon">
        <span class="preview-title">{{ 'retail.preview.title' | translate }}</span>
      </div>
      <app-retail-preview
        [primaryColor]="formGenerator?.form?.get('primaryColor')?.value"
        [secondaryColor]="formGenerator?.form?.get('secondaryColor')?.value"
        [logoUrl]="formGenerator?.form?.get('logoUrl')?.value">
      </app-retail-preview>
    </div>

    <div class="settings-section">
      <h4>{{ 'retail.settings.title' | translate }}</h4>
      <app-form-generator
        [config]="formConfig"
        (formChanges)="handleFormChanges($event)">
      </app-form-generator>

      <div class="form-actions">
        <button mat-raised-button
                color="primary"
                [disabled]="!isFormValid"
                (click)="save()">
          {{ 'retail.settings.saveButton' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-container>
