@import "src/scss/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(90deg, $primary-with-opacity-03, $primary-with-opacity-05);
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.login {
  width: 320px;
  padding: 156px 30px 30px;
}

.login__field {
  padding: 20px 0;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: $primary-color;
}

.login__input {
  border: none;
  border-bottom: 2px solid var(--os-color-light-shade);
  background: none;
  padding: 10px 10px 10px 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: $primary-color-border;
}

.login__submit {
  background: $color-dark-contrast;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid var(--os-color-light-shade);
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: $primary-color-shade;
  box-shadow: 0 2px 2px $primary-color;
  cursor: pointer;
  transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: $primary-color-border;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: $primary-color;
}
.button__text {
  color: $primary-color;
}
