.trans-wrapper {
  overflow-x: auto;
  display: block;
  max-width: 100%;
}
table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}
