@use "mixins" as mixins;

.trans-wrapper {
  overflow-x: auto;
  display: block;
  max-width: 100%;
}

table {
  @include mixins.os-table-base();
}

th, td {
  @include mixins.os-table-cell-base();
}
