<ng-template #productPriceTpl let-row="context">
  {{ row.price | number:'1.0-2' }}&nbsp;{{ row.currency }}
</ng-template>

@if (transactionsView$ | async; as transactions) {
<div class="trans-wrapper">
  @if (!transactions || transactions.length === 0) {
  <app-empty-state [title]="'transactionOrdersTable.noTransactionOrdersFound' | translate"
    [message]="'transactionOrdersTable.noTransactionsMessage' | translate"
    [imageSrc]="'assets/img/empty-states/file-not-found.svg'">
  </app-empty-state>
  }

  @if (transactions.length > 0) {
  <generic-table [config$]="tableConfig$" [data$]="dataList$">
  </generic-table>
  }
</div>
} @else {
<p>{{ 'common.loading' | translate }}</p>
}