<h2 mat-dialog-title class="dialog-header">{{ 'uploadDialog.title' | translate }}</h2>
<mat-dialog-content class="mat-typography dialog-content"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    (drop)="onFileDropped($event)">
    <div class="drop-zone">
        {{ 'uploadDialog.dropZoneMessage' | translate }}
    </div>
    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
    <button mat-button (click)="fileInput.click()">{{ 'uploadDialog.chooseFileButton' | translate }}</button>
    <div *ngIf="uploadSuccess" class="upload-success">
        {{ 'uploadDialog.uploadSuccessMessage' | translate: { fileName: file?.name } }}
    </div>
    <div *ngIf="uploadError" class="upload-error">
        {{ 'uploadDialog.uploadErrorMessage' | translate }}
    </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-footer" align="end">
    <button mat-button (click)="close()">{{ 'common.cancel' | translate }}</button>
    <button mat-button color="primary" (click)="submit()">{{ 'common.save' | translate }}</button>
</mat-dialog-actions>
