.dialog-header {
  font-size: 24px;
  font-weight: 500;
}

.mat-typography.dialog-content {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dashed #90a4ae;
  margin: 20px;
}

.drop-zone {
  display: contents;
  color: #607d8b;
}

.drag-over {
  background-color: #e3f2fd;
}

.dialog-content:hover {
  background-color: #e3f2fd;
}

.upload-success, .upload-error {
  font-size: 16px;
  margin: 10px 0;
}

.upload-success {
  color: #388e3c;
}

.upload-error {
  color: #d32f2f;
}

.dialog-footer {
  padding: 8px;
}

button[mat-button] {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

/* Дополнительные стили для кнопок, если нужно */
button[mat-button]:hover {
  background-color: #e3f2fd;
}
