@import "../../../../scss/variables";

.min-w-3r {
  min-width: 3rem;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

th, td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
  min-width: 60px;
  max-width: 300px;
  padding: 8px 12px;
}

c-pagination {
  padding-left: 18px;
}

.sticky-column {
  position: sticky;
  right: 0;
  z-index: 1;
}

.clickable table tr:hover {
  background-color: $color-light-tint;
  transition: background-color 0.3s ease;
  cursor: pointer;
  .sticky-column {
    background-color: $color-light-tint;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
}

.clickable table tr:hover td {
  text-shadow: 0 0 0.1px $black-87-opacity;
}
