<ng-container *ngIf="config">
    <form [formGroup]="form" [dir]="dir" fxLayout="column" fxLayoutAlign="start start">
        <ng-container *ngFor="let field of config.fields">
            <ng-container *ngIf="!field.invisible && shouldFieldBeVisible(field)">
                <ng-container [ngSwitch]="field.type">
                    <ng-container *ngSwitchCase="FieldType.text" [ngTemplateOutlet]="textTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.number" [ngTemplateOutlet]="numberTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.textarea" [ngTemplateOutlet]="textareaTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.password" [ngTemplateOutlet]="passwordTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.email" [ngTemplateOutlet]="email"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.datepicker" [ngTemplateOutlet]="datePickerTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.select" [ngTemplateOutlet]="selectTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.checkbox" [ngTemplateOutlet]="checkboxTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.slide" [ngTemplateOutlet]="slideTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.chips" [ngTemplateOutlet]="chipsTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.color" [ngTemplateOutlet]="colorTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.uuid" [ngTemplateOutlet]="uuidTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                    <ng-container *ngSwitchCase="FieldType.richText" [ngTemplateOutlet]="richTextTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: field }"></ng-container>
                </ng-container>
            </ng-container>
        </ng-container>

        <!-- Shared hint template -->
        <ng-template #hintTemplate let-field>
            <ng-container *ngIf="hasFieldHintOrError(field)">
                <mat-hint *ngIf="field.hintMessage && field.hintMessage.trim()"
                          [attr.class]="'hint ' + (field.hintClassName || '')">
                    <mat-icon fontIcon="info_outline"></mat-icon>
                    {{ field.hintMessage | translate }}
                </mat-hint>
            </ng-container>
        </ng-template>

        <ng-template #textTemplate let-field>
            <mat-form-field appearance="outline"
                            [attr.class]="'w-100 ' + getFormFieldClass(field)"
                            [hideRequiredMarker]="field.hideRequiredMarker ?? false">
                <mat-label>{{ field.label | translate }}</mat-label>
                <input matInput
                       [formControlName]="field.name"
                       [type]="field.type"
                       (input)="onInputChange($event, field)">

                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </mat-form-field>
        </ng-template>

        <ng-template #numberTemplate let-field>
            <mat-form-field appearance="outline"
                            [attr.class]="'full-width ' + getFormFieldClass(field)"
                            [hideRequiredMarker]="field.hideRequiredMarker ?? false">
                <mat-label>{{ field.label | translate }}</mat-label>
                <input matInput
                       [formControlName]="field.name"
                       [type]="field.type"
                       (input)="onInputChange($event, field)">

                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </mat-form-field>
        </ng-template>

        <ng-template #textareaTemplate let-field>
            <mat-form-field appearance="outline"
                            [attr.class]="'full-width ' + getFormFieldClass(field)"
                            [hideRequiredMarker]="field.hideRequiredMarker ?? false">
                <mat-label>{{ field.label | translate }}</mat-label>
                <textarea matInput
                          [formControlName]="field.name"
                          [placeholder]="field.placeholder | translate"
                          (input)="onInputChange($event, field)"></textarea>

                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </mat-form-field>
        </ng-template>

        <ng-template #passwordTemplate let-field>
            <mat-form-field appearance="outline"
                            [attr.class]="'w-100 ' + getFormFieldClass(field)"
                            [hideRequiredMarker]="field.hideRequiredMarker ?? false">
                <mat-label>{{ field.label | translate }}</mat-label>
                <input matInput
                       [formControlName]="field.name"
                       [type]="field.type"
                       (input)="onInputChange($event, field)">

                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </mat-form-field>
        </ng-template>

                <ng-template #email let-field>
            <div [attr.class]="'w-100 ' + getFormFieldClass(field)">
                <mat-form-field appearance="outline"
                               class="w-100"
                               [hideRequiredMarker]="field.hideRequiredMarker ?? false">
                    <mat-label>{{ field.label | translate }}</mat-label>
                    <input matInput
                           [formControlName]="field.name"
                           [type]="field.type"
                           [placeholder]="field.placeholder | translate"
                           type="email"
                           (input)="onInputChange($event, field)">

                    <mat-error *ngIf="shouldShowError(field.name) && form.controls[field.name].hasError('required')"
                               class="error">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="shouldShowError(field.name) && form.controls[field.name].hasError('email')"
                               class="error">
                        Please, enter email format
                    </mat-error>
                </mat-form-field>

                <!-- Custom hint outside mat-form-field -->
                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </div>
        </ng-template>

                <ng-template #datePickerTemplate let-field>
            <div [attr.class]="getFormFieldClass(field)">
                <mat-form-field appearance="outline"
                               class="full-width"
                               [hideRequiredMarker]="field.hideRequiredMarker ?? false">
                    <mat-label>{{ field.label | translate }}</mat-label>
                    <input matInput
                           [matDatepicker]="picker"
                           [formControlName]="field.name"
                           (dateChange)="onInputChange($event, field)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    <mat-error *ngIf="shouldShowError(field.name) && form.controls[field.name].hasError('required')"
                               class="error">
                        The field is required
                    </mat-error>
                </mat-form-field>

                <!-- Custom hint outside mat-form-field -->
                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </div>
        </ng-template>

        <ng-template #selectTemplate let-field>
            <mat-form-field appearance="outline"
                            [attr.class]="'w-100 ' + getFormFieldClass(field)"
                            [hideRequiredMarker]="field.hideRequiredMarker ?? false">
                <mat-label>{{ field.label | translate }}</mat-label>
                <mat-select [formControlName]="field.name"
                            (selectionChange)="onInputChange($event, field)"
                            [multiple]="field.multiple">
                    <mat-option *ngFor="let option of field.options | async" [value]="option.value">
                        {{ option.displayValue }}
                    </mat-option>
                </mat-select>

                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </mat-form-field>
        </ng-template>

        <ng-template #checkboxTemplate let-field>
            <mat-checkbox [attr.class]="'full-width ' + getFormFieldClass(field)"
                          [formControlName]="field.name"
                          [color]="'primary'"
                          (change)="onInputChange($event, field)">
                {{ field.label | translate }}
            </mat-checkbox>
        </ng-template>

        <ng-template #slideTemplate let-field>
            <div class="display-flex-space-between">
                <label class="mr-1">{{ field.label | translate }}</label>
                <div></div>
                <c-form-check [switch]="true">
                    <input [formControlName]="field.name"
                           cFormCheckInput type="checkbox"
                           (change)="onInputChange($event, field)"/>
                </c-form-check>
            </div>
        </ng-template>

        <ng-template #chipsTemplate let-field>
            <app-chips-input
                    [attr.class]="'full-width ' + getFormFieldClass(field)"
                    [label]="field.label | translate"
                    [placeholder]="field.placeholder | translate"
                    [formControlName]="field.name"
                    [addOnBlur]="field.addOnBlur"
                    [separatorKeysCodes]="field.separatorKeysCodes"
                    [selectable]="field.selectable"
                    [removable]="field.removable">
            </app-chips-input>
        </ng-template>

        <ng-template #colorTemplate let-field>
            <app-color-picker
                    [label]="field.label | translate"
                    [formControlName]="field.name">
            </app-color-picker>

            <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
        </ng-template>

        <ng-template #uuidTemplate let-field>
            <input type="hidden" [formControlName]="field.name">
        </ng-template>

        <ng-template #richTextTemplate let-field>
            <div [attr.class]="'full-width ' + getFormFieldClass(field)">
                <app-rich-text-input
                        [label]="field.label | translate"
                        [placeholder]="field.placeholder | translate"
                        [maxLength]="field.maxLength || 500"
                        [formControlName]="field.name">
                </app-rich-text-input>

                <ng-container *ngTemplateOutlet="hintTemplate; context: { $implicit: field }"></ng-container>
            </div>
        </ng-template>

    </form>
</ng-container>
