mat-card {
  min-height: 780px;
  background: white; // Устанавливает белый фон для карточки
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); // Добавляет тень для визуального выделения карточки
}

.tab-group {
  width: 100%; // Убедитесь, что табы занимают всю ширину карточки
}
