:host {
  ::ng-deep .mat-mdc-tab-body-wrapper {
    padding: 15px !important;
  }
}

mat-card {
  min-height: 780px;
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.tab-group {
  width: 100%;
}
