@use "variables" as vars;
@use "mixins" as mixins;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

.screen {
  width: 535px;
}

.form-width {
  width: 410px;
}

.login-container {
  @include mixins.flex-center();
  min-height: 100vh;
  background: linear-gradient(90deg, vars.$primary-with-opacity-03, vars.$primary-with-opacity-05);
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.login {
  width: 535px;
  padding: 156px 30px 30px;
}

.login__field {
  padding: 20px 0;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: var(--os-color-primary);
}

.login__input {
  border: none;
  border-bottom: 2px solid var(--layout-content-border);
  background: none;
  padding: 10px 10px 10px 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: var(--os-color-primary);
}

.login__submit {
  @include mixins.flex-center();
  background: var(--layout-content-bg);
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid var(--layout-content-border);
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: var(--os-color-primary);
  box-shadow: var(--os-shadow-sm);
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: var(--os-color-primary);
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: var(--os-color-primary);
}

.button__text {
  color: var(--os-color-primary);
}
