<h2 mat-dialog-title class="dialog-header">{{ 'editProduct.editProduct' | translate }}</h2>
<mat-dialog-content class="mat-typography dialog-content">
    <form [formGroup]="form">
        <div class="form-group">

            <mat-form-field class="full-width">
                <mat-label>{{ 'editProduct.productName' | translate }}</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>{{ 'editProduct.description' | translate }}</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>{{ 'editProduct.price' | translate }}</mat-label>
                <input matInput type="number" formControlName="price">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>{{ 'editProduct.currency' | translate }}</mat-label>
                <mat-select formControlName="currency">
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                        {{ currency }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container *ngIf="isAdmin">
                <mat-checkbox formControlName="isCorporate">{{ 'editProduct.corporateProduct' | translate }}</mat-checkbox>

                <mat-form-field class="half-width">
                    <mat-label>{{ 'editProduct.companies' | translate }}</mat-label>
                    <mat-select formControlName="companies" multiple>
                        <mat-option *ngFor="let company of companies" [value]="company.id">
                            {{ company.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-footer" align="end">
    <button mat-button (click)="close()">{{ 'common.cancel' | translate }}</button>
    <button mat-button color="primary" (click)="submit()">{{ 'common.save' | translate }}</button>
</mat-dialog-actions>
