<div class="company-product-form-container">
  <!-- Error Display -->
  <div *ngIf="error" class="error-alert">
    <svg cIcon name="cil-warning" width="20" height="20"></svg>
    <span>{{ error }}</span>
  </div>

  <!-- Form Content -->
  <app-form-generator 
    [config]="formConfig" 
    (formChanges)="onFormChanges($event)">
  </app-form-generator>

  <!-- Selected Tariff Offer Details -->
  <app-selected-tariff-offer-details
    *ngIf="selectedTariffOffer"
    [tariffOffer]="selectedTariffOffer"
    [showEditButton]="true"
    [showTitle]="!isEditing"
    [infoMessage]="isEditing ? 'This shows the current pricing that will be updated for this company product.' : 'This price will be used as the base price for this company product.'"
    (tariffOfferUpdated)="onTariffOfferUpdated($event)">
  </app-selected-tariff-offer-details>
</div>