<h1 mat-dialog-title>{{ 'changeStatusDialog.changeStatus' | translate }}</h1>
<div mat-dialog-content>
    <form [formGroup]="statusForm">
        <mat-form-field>
            <mat-label>{{ 'changeStatusDialog.status' | translate }}</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let status of statuses" [value]="status">
                    {{ status }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-button color="primary" (click)="onSave()">{{ 'common.save' | translate }}</button>
</div>
