<ng-container>
    <c-container [fluid]="true">
        <app-breadcrumb></app-breadcrumb>
        <c-header-nav class="ms-3">
            <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
        </c-header-nav>
    </c-container>
</ng-container>

<ng-template #userDropdown>
    <c-dropdown alignment="end" variant="nav-item">
        <div [caret]="false"
             cDropdownToggle
             class="py-0 c-pointer">
            <c-avatar cTextColor="primary"
                      shape="rounded-1"
                      [size]="'md'"
                      src="./assets/img/avatars/9.jpg"
                      status="success">
            </c-avatar>
        </div>
        <ul cDropdownMenu class="pt-0 pr-5" style="width: 200px">
            <li>
                <h6 cDropdownHeader class="bg-light fw-semibold py-2">Language</h6>
            </li>
            <li (click)="changeLang('en')">
                <a routerLink="./" cDropdownItem>
                    English
                </a>
            </li>
            <li (click)="changeLang('he')">
                <a routerLink="./" cDropdownItem>
                    Hebrew
                </a>
            </li>
            <li>
                <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
            </li>
            <li>
                <a routerLink="./" cDropdownItem>
                    <svg cIcon class="me-2" name="cilBell"></svg>
                    Notifications
                    <c-badge class="ms-2 float-end" color="info">
                        42
                    </c-badge>
                </a>
            </li>
            <li>
                <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
            </li>
            <li></li>
            <li>
                <a routerLink="./" cDropdownItem>
                    <svg cIcon class="me-2" name="cilUser"></svg>
                    Profile
                </a>
            </li>
            <li>
                <a (click)="logout()" cDropdownItem>
                    <svg cIcon class="me-2" name="cilUser"></svg>
                    Logout
                </a>
            </li>
        </ul>
    </c-dropdown>
</ng-template>

