
<div class="email-configurations">
  <!-- Template Type Cards -->
  <div class="email-configurations__template-types">
    @for (type of templateTypes$ | async; track type) {
      <div 
        class="template-type-card"
        [class.template-type-card--selected]="selectedTemplateType === type"
        [class.template-type-card--disabled]="isAdmin && !selectedAccountId"
        (click)="selectTemplateType(type)">
        <div class="template-type-card__content">
          <div class="template-type-card__icon">
            <svg cIcon name="cil-envelope-closed" width="32" height="32"></svg>
          </div>
          <h3 class="template-type-card__title">{{ type | translate }}</h3>
        </div>
      </div>
    }
  </div>

  <!-- Template Grid -->
  @if (selectedTemplateType) {
    <div class="email-configurations__grid">
      <app-template-type-grid
        [type]="selectedTemplateType"
        [ownerAccountId]="selectedAccountId">
      </app-template-type-grid>
    </div>
  }
</div>
