<div class="container">

    <app-account-selector *ngIf="isAdmin"
                          [helperText]="'COMMON.select_account_hint_message'"
                          (accountSelected)="onAccountSelected($event)">
    </app-account-selector>

    <div class="template-types-grid mx-3 mb-3">
        <div class="template-type-card" *ngFor="let type of templateTypes$ | async">
            <mat-card
                    (click)="selectTemplateType(type)"
                    [class.selected]="selectedTemplateType === type"
                    [class.disabled]="isAdmin && !selectedAccountId">
                <mat-card-header>
                    <mat-card-title>{{ type | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-icon>email</mat-icon>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <ng-container *ngIf="selectedTemplateType">
        <app-template-type-grid
                [type]="selectedTemplateType"
                [ownerAccountId]="selectedAccountId">
        </app-template-type-grid>
    </ng-container>
</div>
