<div class="container">

  <div class="account-selector mx-3 mb-3" *ngIf="isAdmin">
    <app-form-generator
      [config]="accountSelectorConfig">
    </app-form-generator>
    <div class="helper-text" *ngIf="!selectedAccountId">
      <mat-icon color="primary">info</mat-icon>
      {{ 'email.configurations.selectAccountFirst' | translate }}
    </div>
  </div>

  <div class="template-types-grid mx-3 mb-3">
    <div class="template-type-card" *ngFor="let type of templateTypes$ | async">
      <mat-card
        (click)="selectTemplateType(type)"
        [class.selected]="selectedTemplateType === type"
        [class.disabled]="isAdmin && !selectedAccountId">
        <mat-card-header>
          <mat-card-title>{{ type | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>email</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-container *ngIf="selectedTemplateType">
    <app-template-type-grid
      [type]="selectedTemplateType"
      [ownerAccountId]="selectedAccountId">
    </app-template-type-grid>
  </ng-container>
</div>
