@use "mixins" as mixins;

.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--layout-content-text);
  }

  .form-control {
    @include mixins.os-input-base(auto, 0.5rem);
    border-radius: 4px;
  }

  .error-message {
    color: var(--os-color-danger);
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }
}

mat-dialog-content {
  min-width: 400px;
  padding: 1rem;
}

mat-dialog-actions {
  padding: 1rem;
  margin-bottom: 0;
} 