@use "mixins" as mixins;

:host {
  display: block;
  width: 100%;
}

.qr-wrapper {
  @include mixins.flex-center();
  flex-direction: column;

  qrcode {
    display: block;

    img,
    canvas {
      max-width: 100%;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
