<div class="date-picker-wrapper" [class]="fieldSize" [class.has-error]="hasError" [class.disabled]="config.disabled">

  <!-- Single Date Mode -->
  <mat-form-field *ngIf="isSingleMode" 
                  appearance="outline" 
                  class="date-picker-field">
    
    <input matInput 
           [matDatepicker]="singlePicker"
           [formControl]="singleDateControl"
           [placeholder]="displayPlaceholder | translate"
           [min]="config.minDate"
           [max]="config.maxDate"
           [required]="config.required">
           
    <mat-datepicker-toggle matIconSuffix [for]="singlePicker"></mat-datepicker-toggle>
    <mat-datepicker #singlePicker></mat-datepicker>
  </mat-form-field>

  <!-- Date Range Mode -->
  <div *ngIf="isRangeMode" class="date-range-container">
    
    <!-- Start Date -->
    <mat-form-field appearance="outline" 
                    class="date-picker-field date-range-start">
      
      <input matInput 
             [matDatepicker]="startPicker"
             [formControl]="startDateControl"
             placeholder="From Date"
             [min]="config.minDate"
             [max]="endDateControl.value || config.maxDate"
             [required]="config.required">
             
      <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <!-- End Date -->
    <mat-form-field appearance="outline" 
                    class="date-picker-field date-range-end">
      
      <input matInput 
             [matDatepicker]="endPicker"
             [formControl]="endDateControl"
             placeholder="To Date"
             [min]="startDateControl.value || config.minDate"
             [max]="config.maxDate"
             [required]="config.required">
             
      <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
      
      <mat-error *ngIf="hasError">{{ displayError | translate }}</mat-error>
    </mat-form-field>

    <!-- Helper text for range -->
    <div *ngIf="displayHelperText && !hasError" class="range-helper-text">
      {{ displayHelperText | translate }}
    </div>
  </div>

</div>