@use "../../../../../scss/variables" as vars;
@use "../../../../../scss/mixins" as mixins;

:host {
  display: block;
  height: 100%;
  
  .text-danger {
    color: var(--os-color-danger) !important;
  }

  .roles-display {
    .text-muted {
      color: var(--layout-content-text-muted);
      font-style: italic;
      font-size: 0.875rem;
    }

    .roles-list {
      .role-item {
        font-size: 0.875rem;
        color: var(--os-color-primary);
        font-weight: 500;
      }
    }
  }
}