@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

:host {
  display: block;
  height: 100%;
  
  .text-danger {
    color: var(--cui-danger) !important;
  }

  .roles-display {
    .text-muted {
      color: var(--os-color-medium);
      font-style: italic;
      font-size: 0.875rem;
    }

    .roles-list {
      .role-item {
        font-size: 0.875rem;
        color: var(--os-color-primary);
        font-weight: 500;
      }
    }
  }
}