@use "mixins" as mixins;

.template-type-grid-container {
  .header {
    @include mixins.flex-between();
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }
  }

  generic-table {
    display: block;
    margin-top: 20px;
  }
}

:host ::ng-deep {
  .mat-icon {
    vertical-align: middle;
  }
}
