@import "../../../../../../scss/variables";

.dialog-header {
  border-bottom: 1px solid var(--os-color-light-shade, #f4f5f8);
}

.dialog-content {
  min-width: 500px;
  max-width: 600px;
  padding: 1.5rem;
  min-height: 200px;
}

.dialog-footer {
  border-top: 1px solid var(--os-color-light-shade, #f4f5f8);

  button + button {
    margin-left: 0.75rem;
  }
}
