@use "../../../../scss/mixins" as mixins;

.key-value-container {
  @include mixins.flex-column(8px);
}

.key-value-entry {
  @include mixins.flex-between();
  align-items: flex-start;
  padding: 8px 0;
  border-bottom: 1px solid var(--layout-content-border);
}

.key-value-entry:last-child {
  border-bottom: none;
}

.key {
  flex: 0 0 25%;
  font-weight: 600;
  color: var(--os-color-primary);
  word-break: break-word;
}

.value {
  flex: 1;
  color: var(--layout-content-text-muted);
  word-break: break-word;
  margin-left: 16px;
}

.list {
  padding-left: 16px;
  margin: 8px 0;
}

li {
  list-style-type: disc;
}

.nested-object-card {
  margin-top: 8px;
  padding: 8px;
  background-color: var(--layout-frame-bg);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
