@use "detail-section" as shared;
@use "mixins" as mixins;

.product-details {
  @include mixins.flex-column(1rem);
  padding: 1rem;
}

// Helper classes
.text-muted {
  color: var(--layout-content-text-muted) !important;
  font-family: monospace;
  font-size: 0.8125rem;
}

.fw-bold {
  font-weight: 600;
}

.ms-1 {
  margin-left: 0.25rem;
}

.mb-3 {
  margin-bottom: 1rem;
}
