// Here you can add other styles
@import "./variables";

.text-center {
  text-align: center;
}

.screen {
  background: linear-gradient(90deg, $primary-color, $primary-with-opacity-05);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0 0 24px $primary-color;
}

.screen__content {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: $color-dark-contrast;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: $primary-color-shade;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, $primary-color, $primary-color-border);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: $primary-color;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.c-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.hint {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $color-medium-shade;

  mat-icon {
    font-size: 14px;
    width: auto;
    height: auto;
    margin-right: 5px;
    margin-left: 10px;
  }
}

.display-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.mr-1 {
  margin-right: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}

.os-header-sticky {
  position: sticky;
  top: 64px;
  z-index: 1028;
}

.content {
  display: flex;
  gap: 20px;

  .left-panel {
    width: 45%;
    flex: 1;
  }

  .right-panel {
    flex: 2;
  }
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: var(--os-color-dark-contrast);
  --mdc-snackbar-supporting-text-color: var(--os-color-dark-contrast);

  &.app-notification-error {
    --mdc-snackbar-container-color: var(--os-color-danger)
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: var(--os-color-success);
  }
}

.svg-color {
  color: var(--os-color-primary);
}

.btn-primary {
  --cui-btn-color: var(--os-color-primary-contrast); /* Цвет текста */
  --cui-btn-bg: var(--os-color-primary); /* Основной фоновый цвет */
  --cui-btn-border-color: var(--os-color-primary);

  --cui-btn-hover-color: var(--os-color-primary-contrast); /* Цвет текста при наведении */
  --cui-btn-hover-bg: var(--os-color-primary-shade); /* Осветляем основной цвет */
  --cui-btn-hover-border-color: var(--os-color-primary-shade);

  --cui-btn-focus-shadow-rgb: rgb(var(--os-color-primary-rgb)); /* RGB-версия для фокуса */

  --cui-btn-active-color: var(--os-color-primary-contrast); /* Цвет текста при нажатии */
  --cui-btn-active-bg: var(--os-color-primary-shade); /* Затемняем основной цвет */
  --cui-btn-active-border-color: var(--os-color-primary-shade);

  --cui-btn-disabled-color: var(--os-color-medium); /* Цвет текста в состоянии disabled */
  --cui-btn-disabled-bg: var(--os-color-primary-opacity);
  --cui-btn-disabled-border-color: var(--os-color-primary-opacity);
}
