// Here you can add other styles
@import "./variables";

.text-center {
  text-align: center;
}

.edit-btn {
  cursor: pointer;
}

.screen {
  background: linear-gradient(90deg, $primary-color, $primary-with-opacity-05);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0 0 24px $primary-color;
}

.screen__content {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: var(--ion-color-medium-contrast);
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: $primary-color-shade;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, $primary-color, $primary-color-border);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: $primary-color;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
.c-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.sidebar-brand-full {
  position: fixed;
  left: -5px;
  top: 0;
}
