@import "./variables";

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.content-container {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: calc(var(--ag-row-height) * 3);
  overflow: hidden;
  position: relative;
}

.bg-primary {
  background-color: $primary-color !important;
  border-color: $primary-color;
}
.bg-primary:hover {
  border-color: $primary-color !important;
}
