// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  //TODO в будущем необходимо построить зависимость от primary

  /* Определение основного цвета  */
  --sc-color-primary: #f9a743;

  /* Основной цвет в формате HSL */
  --sc-color-primary-h: 32; /* Оттенок */
  --sc-color-primary-s: 93%; /* Насыщенность */
  --sc-color-primary-l: 61%; /* Светлота */

  /* Создание вариаций на основе HSL */
  --sc-color-primary-tint: hsl(var(--sc-color-primary-h), var(--sc-color-primary-s), 70%);
  --sc-color-primary-shade: hsl(var(--sc-color-primary-h), var(--sc-color-primary-s), 52%);
  --sc-color-primary-border: hsl(var(--sc-color-primary-h), var(--sc-color-primary-s), 61%);

  /* Вариации с прозрачностью */
  --sc-color-primary-opacity: hsla(var(--sc-color-primary-h), var(--sc-color-primary-s), var(--sc-color-primary-l), 0.5);
  --sc-color-primary-opacity-03: hsla(var(--sc-color-primary-h), var(--sc-color-primary-s), var(--sc-color-primary-l), 0.3);
  --sc-color-primary-opacity-04: hsla(var(--sc-color-primary-h), var(--sc-color-primary-s), var(--sc-color-primary-l), 0.4);
  --sc-color-primary-opacity-05: hsla(var(--sc-color-primary-h), var(--sc-color-primary-s), var(--sc-color-primary-l), 0.5);

  /** primary **/
  --ion-color-primary: var(--sc-color-primary);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: var(--sc-color-primary-shade);
  --ion-color-primary-tint: var(--sc-color-primary-tint);

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: var(--sc-color-primary);
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: var(--sc-color-primary-shade);
  --ion-color-tertiary-tint: var(--sc-color-primary-tint);

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

$enable-shadows: true;

/** variables **/
$primary-color: var(--sc-color-primary);
$primary-color-shade: var(--sc-color-primary-shade);
$primary-color-border: var(--sc-color-primary-border);
$primary-with-opacity: var(--sc-color-primary-opacity);
$primary-with-opacity-03: var(--sc-color-primary-opacity-03);
$primary-with-opacity-04: var(--sc-color-primary-opacity-04);
$primary-with-opacity-05: var(--sc-color-primary-opacity-05);

